<article class="content-main{{#eq align compare='center'}} -center-aligned{{/eq}}">
	<div class="content-info col-flex">
		<div class="content-author-img">
			<img src="./asset/images/dummy/{{this.author_img}}" alt="{{this.author}}">
		</div>
		<div class="content-author">
			<div class="content-author-name">by: <a href="indeks-author.html">{{this.author}}</a></div>
			<div class="content-date"> / 23 September 2020</div>
		</div>
	</div>
	<div class="content-social col-flex">
		{{> social twitter=true facebook=true whatsapp=true linkedin=true line=true}}
	</div>
	<div class="content-photo-main">
		<div class="photo-main">
			<div class="photo-img">
				<img src="./asset/images/dummy/{{this.img}}" alt="{{this.title}}">
			</div>
			<div class="photo-credit">{{this.img_author}}</div>
		</div>
	</div>
	<div class="content-body">
		{{{this.content}}}

		<!-- ads -->
		{{> ads_belt}}

		<!-- s: content listing -->
		<div class="content-list">
			{{#each this.content_list}}
			<div class="content-list-item {{#if this.img}}{{else}}-noimg {{/if}}clearfix">
				<div class="content-list-number">{{this.no}}</div>
				{{#if this.img}}
				<div class="content-list-img">
					<div class="photo-body">
						<img src="./asset/images/dummy/{{this.img}}" alt="">
					</div>
				</div>
				{{/if}}
				<div class="content-list-text">
					{{{this.content}}}
				</div>
			</div>

			{{#eq @index compare=5}}
			<!-- ads -->
			{{> ads_belt}}
			{{/eq}}

			{{/each}}
		</div>
		<!-- e: content listing -->

	</div>
	<div class="content-tag">
		{{> read_tagging tag=this.tag}}
	</div>
	<div class="content-social -bottom col-flex">
		<div class="social-item"><span class="social-subtitle">Share:</span></div>
		{{> social twitter=true facebook=true whatsapp=true linkedin=true line=true}}
	</div>
</article>
{{> ads_square}}
